* {
    background-color: rgb(228, 170, 10);
    width: 100%;
     float: left;
}


.PC,
.tablet,
.mobile {
    margin: auto;
    padding: 40px;
    text-align: center;
    font-size: 100px;
    color: #fff;
    display: none;
}

@media only screen and (min-width: 1024px) {
    .PC {
        display: block;
    }
}

@media only screen and (min-width: 740px) and (max-width: 1023px){
    .tablet {
        display: block;
    }
}

@media only screen and (max-width: 739px) {
    .mobile {
        display: block;
    }
}